rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // כל המשתמשים המאומתים יכולים לקרוא ולכתוב
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
